.info h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* or 125% */

    letter-spacing: 0.01em;

    color: #111430;

}

.info p {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: 0.005em;

    color: #000000;
}

.info button {
   
    width: 170px;
    height: 45px;
    left: 135px;
    top: 525px;
    background-color:  #000000;
    color: white;

}